In [1]:
import sqlite3
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
import pandas as pd

In [2]:
master_df = pd.read_csv("proj2data/master.csv")

/Users/adamroth/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (105,111) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
master_df.sample(10)

,id,ExciseTaxNbr,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,PlatLot,...,FpFreestanding,FpAdditional,YrBuilt,YrRenovated,PcntComplete,Obsolescence,PcntNetCondition,Condition,AddnlCost,footprint
36937,5151600110,2971414,01/23/2019,415000,20190125000818,,,,,,...,0.0,0.0,1961.0,0.0,0.0,0.0,0.0,5.0,0.0,0.103248
18970,2436700705,2977835,03/15/2019,0,20190318000385,,,,,,...,0.0,0.0,1940.0,0.0,0.0,0.0,0.0,3.0,0.0,0.258390
5409,821069080,3011947,09/25/2019,4829830,20190925000838,,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11407,1522059184,3015528,10/10/2019,560000,20191016000220,,,,,,...,0.0,0.0,2017.0,0.0,0.0,0.0,0.0,3.0,0.0,0.158791
32039,3903800040,2977610,03/12/2019,1850000,20190315000405,,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9270,1313000510,2981204,03/29/2019,740000,,,,,,,...,0.0,0.0,1967.0,0.0,0.0,0.0,0.0,3.0,0.0,0.208333
17575,2254501610,2983632,03/30/2019,0,20190423000031,,,,,,...,0.0,0.0,1904.0,0.0,0.0,0.0,0.0,3.0,0.0,0.097561
59952,9365700030,3007672,08/23/2019,1050000,20190829001049,,,,,,...,0.0,0.0,1955.0,0.0,0.0,0.0,0.0,4.0,0.0,0.140640
32777,4024100305,3016227,10/11/2019,0,20191018001759,,,,,,...,0.0,1.0,1948.0,0.0,0.0,0.0,0.0,3.0,0.0,0.203523
16813,2156400364,2986062,04/30/2019,65000,20190503001100,,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
master_df.columns

Index(['id', 'ExciseTaxNbr', 'DocumentDate', 'SalePrice', 'RecordingNbr',
       'Volume', 'Page', 'PlatNbr', 'PlatType', 'PlatLot',
       ...
       'FpFreestanding', 'FpAdditional', 'YrBuilt', 'YrRenovated',
       'PcntComplete', 'Obsolescence', 'PcntNetCondition', 'Condition',
       'AddnlCost', 'footprint'],
      dtype='object', length=151)

In [10]:
columns_list = []
for i in range(len(master_df.columns)):
    columns_list.append(master_df.columns[i])
               
columns_list

['id',
 'ExciseTaxNbr',
 'DocumentDate',
 'SalePrice',
 'RecordingNbr',
 'Volume',
 'Page',
 'PlatNbr',
 'PlatType',
 'PlatLot',
 'PlatBlock',
 'SellerName',
 'BuyerName',
 'PropertyType',
 'PrincipalUse',
 'SaleInstrument',
 'AFForestLand',
 'AFCurrentUseLand',
 'AFNonProfitUse',
 'AFHistoricProperty',
 'SaleReason',
 'PropertyClass',
 'SaleWarning',
 'PropName',
 'PlatName',
 'PlatLotparcel',
 'PlatBlockparcel',
 'Range',
 'Township',
 'Section',
 'QuarterSection',
 'PropType',
 'Area',
 'SubArea',
 'SpecArea',
 'SpecSubArea',
 'DistrictName',
 'LevyCode',
 'CurrentZoning',
 'HBUAsIfVacant',
 'HBUAsImproved',
 'PresentUse',
 'SqFtLot',
 'WaterSystem',
 'SewerSystem',
 'Access',
 'Topography',
 'StreetSurface',
 'RestrictiveSzShape',
 'InadequateParking',
 'PcntUnusable',
 'Unbuildable',
 'MtRainier',
 'Olympics',
 'Cascades',
 'Territorial',
 'SeattleSkyline',
 'PugetSound',
 'LakeWashington',
 'LakeSammamish',
 'SmallLakeRiverCreek',
 'OtherView',
 'WfntLocation',
 'WfntFootage',
 'WfntBank',
 'WfntPoorQuality',
 'WfntRestrictedAccess',
 'WfntAccessRights',
 'WfntProximityInfluence',
 'TidelandShoreland',
 'LotDepthFactor',
 'TrafficNoise',
 'AirportNoise',
 'PowerLines',
 'OtherNuisances',
 'NbrBldgSites',
 'Contamination',
 'DNRLease',
 'AdjacentGolfFairway',
 'AdjacentGreenbelt',
 'HistoricSite',
 'CurrentUseDesignation',
 'NativeGrowthProtEsmt',
 'Easements',
 'OtherDesignation',
 'DeedRestrictions',
 'DevelopmentRightsPurch',
 'CoalMineHazard',
 'CriticalDrainage',
 'ErosionHazard',
 'LandfillBuffer',
 'HundredYrFloodPlain',
 'SeismicHazard',
 'LandslideHazard',
 'SteepSlopeHazard',
 'Stream',
 'Wetland',
 'SpeciesOfConcern',
 'SensitiveAreaTract',
 'WaterProblems',
 'TranspConcurrency',
 'OtherProblems',
 'BldgNbr',
 'NbrLivingUnits',
 'Address',
 'BuildingNumber',
 'Fraction',
 'DirectionPrefix',
 'StreetName',
 'StreetType',
 'DirectionSuffix',
 'ZipCode',
 'Stories',
 'BldgGrade',
 'BldgGradeVar',
 'SqFt1stFloor',
 'SqFtHalfFloor',
 'SqFt2ndFloor',
 'SqFtUpperFloor',
 'SqFtUnfinFull',
 'SqFtUnfinHalf',
 'SqFtTotLiving',
 'SqFtTotBasement',
 'SqFtFinBasement',
 'FinBasementGrade',
 'SqFtGarageBasement',
 'SqFtGarageAttached',
 'DaylightBasement',
 'SqFtOpenPorch',
 'SqFtEnclosedPorch',
 'SqFtDeck',
 'HeatSystem',
 'HeatSource',
 'BrickStone',
 'ViewUtilization',
 'Bedrooms',
 'BathHalfCount',
 'Bath3qtrCount',
 'BathFullCount',
 'FpSingleStory',
 'FpMultiStory',
 'FpFreestanding',
 'FpAdditional',
 'YrBuilt',
 'YrRenovated',
 'PcntComplete',
 'Obsolescence',
 'PcntNetCondition',
 'Condition',
 'AddnlCost',
 'footprint']

In [11]:
master_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62039 entries, 0 to 62038
Columns: 151 entries, id to footprint
dtypes: float64(82), int64(8), object(61)
memory usage: 71.5+ MB

In [12]:
sales_df = pd.read_csv("proj2data/EXTR_RPSale.csv")

/Users/adamroth/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (1,2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
sales_df.head()

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,...,PropertyType,PrincipalUse,SaleInstrument,AFForestLand,AFCurrentUseLand,AFNonProfitUse,AFHistoricProperty,SaleReason,PropertyClass,SaleWarning
0,2687551,138860,110,08/21/2014,245000,20140828001436,,,,,...,3,6,3,N,N,N,N,1,8,
1,1235111,664885,40,07/09/1991,0,199203161090,071,001,664885,C,...,3,0,26,N,N,N,N,18,3,11
2,2704079,423943,50,10/11/2014,0,20141205000558,,,,,...,3,6,15,N,N,N,N,18,8,18 31 51
3,2584094,403700,715,01/04/2013,0,20130110000910,,,,,...,3,6,15,N,N,N,N,11,8,18 31 38
4,3027422,213043,120,12/20/2019,560000,20191226000848,,,,,...,11,6,3,N,N,N,N,1,8,

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2089099 entries, 0 to 2089098
Data columns (total 24 columns):
 #   Column              Dtype
---  ------              -----
 0   ExciseTaxNbr        int64
 1   Major               object
 2   Minor               object
 3   DocumentDate        object
 4   SalePrice           int64
 5   RecordingNbr        object
 6   Volume              object
 7   Page                object
 8   PlatNbr             object
 9   PlatType            object
 10  PlatLot             object
 11  PlatBlock           object
 12  SellerName          object
 13  BuyerName           object
 14  PropertyType        int64
 15  PrincipalUse        int64
 16  SaleInstrument      int64
 17  AFForestLand        object
 18  AFCurrentUseLand    object
 19  AFNonProfitUse      object
 20  AFHistoricProperty  object
 21  SaleReason          int64
 22  PropertyClass       int64
 23  SaleWarning         object
dtypes: int64(7), object(17)
memory usage: 382.5+ MB

In [16]:
res_df = pd.read_csv("proj2data/EXTR_ResBldg.csv")

/Users/adamroth/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [17]:
res_df.head()

,Major,Minor,BldgNbr,NbrLivingUnits,Address,BuildingNumber,Fraction,DirectionPrefix,StreetName,StreetType,...,FpMultiStory,FpFreestanding,FpAdditional,YrBuilt,YrRenovated,PcntComplete,Obsolescence,PcntNetCondition,Condition,AddnlCost
0,46100,935,1,1,7349 10TH AVE NW 98117,7349,,,10TH,AVE,...,0,0,0,1927,0,0,0,0,3,0
1,46100,1165,1,1,7342 11TH AVE NW 98117,7342,,,11TH,AVE,...,0,0,0,2019,0,53,0,0,3,0
2,46100,1720,1,1,7330 13TH AVE NW 98117,7330,,,13TH,AVE,...,0,0,0,2019,0,0,0,0,3,0
3,46100,1745,1,1,7348 13TH AVE NW 98117,7348,,,13TH,AVE,...,0,0,0,1910,2005,0,0,0,3,0
4,46100,1930,1,1,7306 14TH AVE NW 98117,7306,,,14TH,AVE,...,1,0,1,1955,0,0,0,0,3,0

In [19]:
parcel_df = pd.read_csv("proj2data/EXTR_Parcel.csv")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe9 in position 5: invalid continuation byte

In [20]:
master_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62039 entries, 0 to 62038
Columns: 151 entries, id to footprint
dtypes: float64(82), int64(8), object(61)
memory usage: 71.5+ MB

In [21]:
df = master_df[master_df.PropertyType.isin([11,12,13,14])]
print(len(master_df))
print(len(df))

62039
31228